{% extends "GCDBundle::layout.html.twig" %}

{%block container %}

{% if app.user.username is defined %}      
   <div id="utilisateur">
         <div class="deconnexion">
             
             <a href="{{ path('gcd_deconnexion') }}">
                 <span> Déconnexion</span>
                 <img class="img-responsive decon-img" src="{{ asset('bundles/gcd/images/deconnexion.png') }}"/> 
             </a>
            </div>
              <div class="profile">
         
               <a href="{{ path('gcd_compte') }}">
            <span> {{ app.user.username }} </span>
         <img class="img-responsive profile-img" src="{{ asset('bundles/gcd/images/profile.png') }}"/> 

          
        </a>
        </div>
        </div>
         {% endif %} 
 

<tbody>
<h2>
    Listes des patients
</h2>
     <table>
         
        
    {% for pat in patient %}
       
        <tr >
            <td  border="5px"  style="color: white;"> <a href="{{ path('gcd_modifierPatient',{ id:pat.idPatient})}}"> {{ pat.nomPatient }} </a>
            </td><td>   
                <a href="{{ path('gcd_fiche_patient',{ id:pat.idPatient})}}">
                          <img class="img-responsive decon-img" src="{{ asset('bundles/gcd/images/fiche.png') }}"/>
                    </a>
            </td>
            <td>
                               
                    <a href="{{ path('gcd_suppPatient',{ id:pat.idPatient})}}">

                            <img class="img-responsive decon-img" src="{{ asset('bundles/gcd/images/supp.png') }}"/>

                   </a>
           </td>
                
              
    
        </tr>

    {%endfor%}
      </table>
      
</tbody>

{% endblock %}