{%extends "GCDBundle::layout.html.twig"%}


{%block container %}
  
      {{form_start(form,{ 'attr': {'class': 'form-signin','placeholder' : 'Nom','autofocus':''}})}}
      <!--<form class="form-signin" method="post" action="" >-->
       
        <h2 class="form-signin-heading">Ajout Secretaire</h2>
     <div class="form_align">
        <!--<input type="text" id="inputEmail" class="form-control" placeholder="Nom" name="username" autofocus="">-->
        {{form_widget(form.nomSecretaire, { 'attr': {'class': 'form-control','placeholder' : 'Nom','autofocus':''}})}}
        <!--<input type="text" id="inputEmail" class="form-control" placeholder="prenom" name="username" >-->
        {{form_widget(form.prenomSecretaire, { 'attr': {'class': 'form-control','placeholder' : 'Prenom'}})}}
         <!--<input type="text" id="inputEmail" class="form-control" placeholder="E-mail" name="username" >-->
       {{form_widget(form.emailSecretaire, { 'attr': {'class': 'form-control','placeholder' : 'Email'}})}}
       <!--<input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" name="password" >-->
        
    </div>
    <div class="form_align">
               {{form_widget(form.pwSecretaire, { 'attr': {'class': 'form-control','placeholder' : 'Password'}})}}

      <!--  <input type="text" id="inputEmail" class="form-control" placeholder="Nom d'utilisateur" name="username" >>-->
     {{form_widget(form.telSecretaire, { 'attr': {'class': 'form-control','placeholder' : 'Tel'}})}}
     
       {{form_widget(form.adresseSecretaire, { 'attr': {'class': 'form-control','placeholder' : 'AdresseSecretaire'}})}}


    </div>

    
  <!--<label class="radio inline"> 
      <input type="radio" name="sexe" value="male" checked>
      <span> Homme </span> 
   </label>
  <label class="radio inline"> 
      <input type="radio" name="sexe" value="female">
      <span>Femme </span> 
  </label>-->
 <div class="form_radio">
        
        
        
        {% for child in form.sexe %}
         
      <span class="radio inline">  
      
      {{ form_widget(child) }}
      <span>{{ form_label(child)}} </span>
      </span>
        {% endfor %}
    </div>    

 <!-- <button id="connecter" class="btn btn-lg btn-primary btn-block" type="submit">S'inscrire</button>-->
           {{form_widget(form.inscrire, { 'attr': {'class': 'btn btn-lg btn-primary btn-block','id' : 'connecter'}})}}
{{ form_row(form._token) }}
      </form>
     
    
    {% if name is defined %}
    <div class="alert-info fade in">
      <strong>
          {{name}}
      </strong>  
    
    </div>
    
    {%endif%}
    

    {{form_end(form)}}
    
{%endblock%}