{% extends "GCDBundle::layout.html.twig" %}
{%block stylesheets %}
<style>
@font-face {
    font-family:digital;
    src: url({{ asset('bundles/gcd/font/DS-DIGIB.TTF') }});
}
#gcd_authentificationbundle_rdv_horraireRdv_hour,#gcd_authentificationbundle_rdv_horraireRdv_minute,#gcd_authentificationbundle_rdv_horraireRdv{
  font-family: digital;
  font-size: 30px;
  border: 0px;
  color: rgb(47, 187, 241);
}
</style>
{%endblock%}

{%block container %}
  
      {{form_start(form,{ 'attr': {'class': 'form-signin','method' : 'POST'}})}}
      <!--<form class="form-signin" method="post" action="" >-->

        <h2 class="form-signin-heading">Ajout Rendez-vous</h2>
     <div class="form_align">
          <select name="idp" class="form-control" id="idp">
              <option value="">Choisir le patient</option>
     {% for pt in Patient %}
        <option value="{{ pt.idPatient}}">  {{ pt.nomPatient}} {{ pt.prenomPatient}}</option>
     
     {%endfor%}
     </select>
        <!--<input type="text" id="inputEmail" class="form-control" placeholder="Nom" name="username" autofocus="">-->
        <!--<input type="text" id="inputEmail" class="form-control" placeholder="prenom" name="username" >-->
       {{form_widget(form.dateRdv, { 'attr': {'class': 'form-control','placeholder' : 'DateRdv'}})}}
        {{form_widget(form.horraireRdv, { 'attr': {'class': 'form-control','placeholder' : 'HorraireRdv'}})}}
            {{form_widget(form.idPatient, { 'attr': {'class': 'form-control','placeholder' : 'idP','id':'idpa'}})}}

    </div>
  

  
 <!-- <button id="connecter" class="btn btn-lg btn-primary btn-block" type="submit">S'inscrire</button>-->
           {{form_widget(form.Ajouter, { 'attr': {'class': 'btn btn-lg btn-primary btn-block','id' : 'connecter'}})}}
{{ form_row(form._token) }}
      </form>
     
  

    
{{form_end(form)}}
    
{%endblock%}

{%block javascripts %}

<script>
    $("#idp").change(function(){
        
        $('#gcdbundle_rdv_idPatient').val($('#idp option:selected').val()) ;
    });
</script>

{% endblock %}