{%extends "GCDBundle::layout.html.twig"%}

{%block container %}
   <h2 class="form-signin-heading">Tableadu de bord dentiste</h2>
   {% if app.user.username is defined %}      
   <div id="utilisateur">
         <div class="deconnexion">
             
             <a href="{{ path('gcd_deconnexion') }}">
                 <span> Déconnexion</span>
                 <img class="img-responsive decon-img" src="{{ asset('bundles/gcd/images/deconnexion.png') }}"/> 
             </a>
            </div>
              <div class="profile">
         
               <a href="{{ path('gcd_compte') }}">
            <span> {{ app.user.username }} </span>
         <img class="img-responsive profile-img" src="{{ asset('bundles/gcd/images/profile.png') }}"/> 

          
        </a>
        </div>
        </div>
         {% endif %} 
        <div id="icone-container">
            <div class="icon-container">   
                      
             <a href="{{ path('gcd_liste_dentistes') }}" class="tb-icon-link">
                 <img class="img-responsive tb-icon-img " src="{{ asset('bundles/gcd/images/dentistes-icon.png') }}" />
                 <span  class="icon-title">Dentiste </span>
             </a>
            </div> 
            <div class="icon-container">
               <a href="{{ path('gcd_liste_secretaires') }}" class="tb-icon-link">   
                   <img class="img-responsive tb-icon-img" src="{{ asset('bundles/gcd/images/secretaires-icon.png') }}" style="  width: 84px;" />     
                   <span  class="icon-title"> Secretaire </span>
               </a>
        </div> 
         
      

        </div>
  {%endblock%}
  
  
  
  
  
  
  