{%extends "GCDBundle::layout.html.twig"%}
{%block container %}
   
           {{form_start(form,{ 'attr': {'class': 'form-signin','method' : 'POST'}})}}
            <h2 class="alert-danger">Iil faut remplir tous les champs!!</h2>
    <div id="gauche" class="col-sm-6">  
            <div class="mod">
                <img class="img-modifier" src="{{ asset('bundles/gcd/images/modifier.png') }}" onclick='modifier_nom();'/> 
                {{form_widget(form.nomSecretaire, { 'attr': {'class': 'modif-input','disabled':''}})}}
</div>
                       <div class="mod">

            <img class="img-modifier" src="{{ asset('bundles/gcd/images/modifier.png') }}"onclick='modifier_prenom();'/> 
                            {{form_widget(form.prenomSecretaire, { 'attr': {'class': 'modif-input','disabled':''}})}}

                       </div>
                        <div class="mod">

            <img class="img-modifier" src="{{ asset('bundles/gcd/images/modifier.png') }}"onclick='modifier_email();'/> 
                            {{form_widget(form.emailSecretaire, { 'attr': {'class': 'modif-input','disabled':''}})}}

                      </div>
                        <div class="mod">

            <img class="img-modifier" src="{{ asset('bundles/gcd/images/modifier.png') }}"onclick='modifier_pw();'/> 
                        {{form_widget(form.pwSecretaire, { 'attr': {'class': 'modif-input','disabled':''}})}}
</div>
     </div>
     <div id="droite" class="col-sm-6">
                     <div class="mod">

            <img class="img-modifier" src="{{ asset('bundles/gcd/images/modifier.png') }}"onclick='modifier_teld();'/> 
                                         {{form_widget(form.telSecretaire, { 'attr': {'class': 'modif-input','disabled':''}})}}
</div>
                        <div class="mod">

            <img class="img-modifier" src="{{ asset('bundles/gcd/images/modifier.png') }}"onclick='modifier_adrd();'/> 
                                         {{form_widget(form.adresseSecretaire, { 'attr': {'class': 'modif-input','disabled':''}})}}
</div>
                        <!--  <div class="mod">

          <img class="img-modifier" src="{{ asset('bundles/gcd/images/modifier.png') }}"onclick='modifier_adrc();'/> 
            <input name="sexe" type="text" id="sexe" value=" {{ secretaire.sexe }}" class="modif-input"disabled>
                         </div>-->
                         <div class="form_radio">
        
        
        
        {% for child in form.sexe %}
         
      <span class="radio inline">  
      
      {{ form_widget(child) }}
      <span>{{ form_label(child)}} </span>
      </span>
        {% endfor %}
    </div>  
               <!--<button id="connecter" class="btn btn-lg btn-primary btn-block" type="submit">Enregistrer</button>         -->
                            {{form_widget(form.inscrire, { 'attr': {'class': 'btn btn-lg btn-primary btn-block','id' : 'connecter','value':'Enregistrer'}})}}

    </div>
                            {{form_end(form)}}
{%endblock%}


{%block javascripts %}

<script>
function modifier_nom (){
    document.getElementById("gcdbundle_secretaire_nomSecretaire").removeAttribute("disabled");
}
function modifier_prenom(){
    document.getElementById("gcdbundle_secretaire_prenomSecretaire").removeAttribute("disabled");
}
function modifier_email() {
    document.getElementById("gcdbundle_secretaire_emailSecretaire").removeAttribute("disabled");
}
function modifier_pw() {
    document.getElementById("gcdbundle_secretaire_pwSecretaire").removeAttribute("disabled");
}
function modifier_teld() {
    document.getElementById("gcdbundle_secretaire_telSecretaire").removeAttribute("disabled");
}
function modifier_adrd(){
    document.getElementById("gcdbundle_secretaire_adresseSecretaire").removeAttribute("disabled");
}



</script>
  {%endblock%}